* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	background-color: #eaf4ff;
	color: #114229;
}

body h1 {
	margin: 30px 0;
	font-size: 50px;
}

.textinput {
	width: 1000px;
	height: 50px;
	font-size: 24px;
	border: 3px solid #add6ff;
}

#warning {
	margin-top: 20px;
	color: red;
}

.boxField {
	width: 300px;
	height: 30px;
	font-size: 20px;
	border: 3px solid #add6ff;
	margin: 20px auto;
}

.form, .login-form {
	text-align: center;
	font-size: 28px;
}

.login-form {
	width: 400px;
	height: 500px;
	margin-top: 30px;
    font-weight: bold;
}

.loginBtn {
	text-align: center;
}

.logoutBtn {
	margin-top: -20px;
	margin-bottom: 30px;
}

a {
	text-decoration: none;
	color: #114229;
	font-size: 22px;
}

#submit, #loginBtn {
	font-size: 20px;
	padding: 5px 15px;
	background-color: #dedede;
	font-weight: bold;
}

#loginBtn {
	margin-top: 30px;
}

#welcome {
	font-size: 34px;
}

table {
	margin: 70px 30px;
}

@media only screen and (max-width: 500px) {
	.textinput {
		width: 500px;
	}
}

@media only screen and (max-width: 350px) {
	.textinput {
		width: 300px;
	}
}