{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>FindBook by Michael S</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	<h1>FindBook</h1>
	<div class="login-form">
		<form action="" method="POST">
			{% csrf_token %}
			{{ inputForm.as_p }}
			<div class="loginBtn">
				<button type="submit" name="login" id="loginBtn">Login</button>
			</div>
		</form>
		{% if error %}   
			<div id="warning">
	            {{ error }}
	        </div>
        {% endif %}
        <br>
        <br>
        <h5>Dummy Account:</h5>
        <h5>Username: dummy</h5>
        <h5>Password: dummy</h5>
	</div>
	
</body>
</html>